/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.display {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

h1 {
  font-size: 50px;
}

span {
  font-weight: bold;
}

/* HEADER */
header {
  border: red 3px solid;
  border-bottom: lightgray solid 1px;
  width: 100vw;
  height: 190px;
  display: flex;
  align-items: center;
}

header img {
  margin: 0 55px 0 120px;
  height: 70px;
  width: 100px;
}

/* MAIN */
main {
  border: blue 3px solid;
  width: 50vw;
  margin-top: 10vh;
  margin-left: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BUTTONS */
section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  width: 120px;
  height: 70px;
  border-radius: 5px;
  box-shadow: none; /* TBD doesnt work?*/
  font-size: 36px;
  border: 1px solid #908f8f;
  margin-right: 75px;
}

.selected {
  background-color: #5c48d3;
  color: white;
}

.notSelected {
  background-color: white;
  color: #5c48d3;
}

/* RESULT */
.result {
  height: 145px;
  width: 250px;
  font-size: 48px;
  color: white;
  border: 1px solid #908f8f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #46ac4a;
}

.red {
  background-color: #d34848;
}

/* FOOTER */
footer {
  /* border: #46ac4a solid; */
  height: 20vh;
}
